body {
  margin: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared Style */
.text-primary {
  color: #fd6e0a;
}

.secondary-bg {
  background-color: #fff8f3;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 18px;
  color: #757575;
}

.text-center {
  text-align: center;
}

/* Header */
.header {
  background-image: url(../demo-portfolio-with-vanila-html-and-css/images/developer.png),
    url(../demo-portfolio-with-vanila-html-and-css/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  background-color: #fff8f3;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
  margin-top: 0;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner style starts from here */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}

.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner-description {
  margin-bottom: 25px;
}

.banner-profile-picture {
  width: 580px;
}

/* Main Styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

main section {
  margin: 130px 0;
}

/* About styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;

  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-inside {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid rgb(235, 234, 234);
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.about-item {
  margin: 10px;
}

.item-description {
  font-weight: 600;
  margin-top: 8px;
}

.item-title {
  margin-top: 20px;
  margin-bottom: 0;
}

/* Skills styles  */

.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 50px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  height: 350px;
}

.skill-description{
  font-size: 1.4em;
}

.skill:hover {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.12);
  scale: 1.05;
  transition-duration: 0.2s;
}
