body {
  margin: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared Style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

/* Header */
.header {
  background-image: url(../demo-portfolio-with-vanila-html-and-css/images/developer.png),
    url(../demo-portfolio-with-vanila-html-and-css/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  background-color: #fff8f3;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
  margin-top: 0;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner style starts from here */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}

.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.banner-description {
  margin-bottom: 25px;
}

.banner-profile-picture {
  width: 580px;
}
